/*
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Typography
### Body Copy
- Font size: 18px
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* font-family: 'Fraunces', serif; 700 900*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    --16px: 1rem;
    --18px: 1.125rem;
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --gray-blue: hsl(210, 4%, 67%);
    --dark-gray-blue: hsl(232, 10%, 55%);
    --darkest-gray-blue: hsl(213, 9%, 39%);
    --desat-blue: hsl(212, 27%, 19%);
}

h1, h2, h3, h4, #contact, .learn, .name {
    font-family: 'Fraunces', serif;
    /* font-weight: ; */
}
p, li {
    font-size: var(--18px);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

/* HEADER */
.header {
    width: 100%;
    height: 32rem;
    min-height: 32rem;
    background-image: url("/src/images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* z-index: -1000; */
}
@media screen and (min-width: 95em) {
    .header {
        background: url("/src/images/desktop/image-header.jpg");
    }
}
.header-first {
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    padding: 2rem 1rem 0;
}
.toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.menu { /*left corner missing*/
    list-style: none;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    height: 18rem;
    padding: .5rem 0 1rem;
    margin: 3rem auto 0;
    /* position: relative;
    top: 3rem; */
    z-index: 5;
}
.hide-menu { /* animation apparition + disparition menu */
    visibility: hidden;
}
.menu-link {
    text-decoration: none;
    color: var(--gray-blue);
    font-weight: 600;
}
#contact {
    color: var(--desat-blue);
    text-transform: uppercase;
    background-color: var(--yellow);
    padding: .8rem 1.2rem;
    border-radius: 30px;
}
h1 { /*fix opacity when menu opened*/
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 900;
    /* position: relative;
    top: -15rem; */
    transform: translateY(-15rem);
    margin: 0 auto;
    z-index: 0;
}
.arrow {
    /* position: relative;
    top: -12rem; */
    transform: translateY(-12rem);
    display: block;
    margin: 0 auto;
}





.transform-pic, .stand-out-pic {
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
    margin: auto;
}
.transform-txt, .stand-out-txt {
    /* border: 2px solid blue; */
    padding: 2rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.transform-title, .stand-out-title {
    /* border: 2px solid gold; */
    font-size: calc(28rem / 16);
    font-weight: 900;
    margin: 1rem 3rem;
    color: var(--desat-blue);
}
.transform-p, .stand-out-p {
    color: var(--dark-gray-blue);
    line-height: 1.5;
    padding: 0 .5rem;
    margin-bottom: 1.5rem;
}
.learn-yellow {
    text-decoration: underline solid hsla(54, 100%, 71%, .5) 6px;
    text-underline-offset: -.2em;
    text-transform: uppercase;
    color: var(--desat-blue);
    font-weight: 900;
}
.learn-pink {
    text-decoration: underline solid hsla(0, 72%, 74%, .5) 6px;
    text-underline-offset: -.2em;
    text-transform: uppercase;
    color: var(--desat-blue);
    font-weight: 900;
}




.graphic-design {
    color: hsl(167, 40%, 24%);
}
.photography { /*alternative to transform?*/
    color: hsl(198, 62%, 26%);
    transform: translateY(-8.3rem);
}
.graphic-design-pic, .photography-pic {
    width: 100%;
    height: auto;
}
.graphic-design-txt, .photography-txt {
    /* border: 2px solid red; */
    transform: translateY(-12rem); 
    text-align: center;
    /* position: relative;
    bottom: 0;
    left: 0; */
}
.graphic-design-title, .photography-title {
    font-size: calc(25rem / 16);
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.graphic-design-p, .photography-p {
    font-size: calc(16rem / 16);
    line-height: 1.5;
    margin: 0 .8rem;
}



#testimonials {
    /* border: 2px solid fuchsia; */
    transform: translateY(-15.8rem);
    color: var(--dark-gray-blue);
    text-align: center;
    padding: 2rem 1.5rem;
}
.client {
    margin: 1rem 0;
    line-height: 1.5;
}
h4 {
    text-transform: uppercase;
    color: var(--gray-blue);
    margin: 1.5rem 0;
    letter-spacing: 3px;
}
#testimonials img {
    border-radius: 50%;
    width: 20%;
    margin: 2.5rem auto 1rem;
}
.name {
    color: var(--desat-blue);
    font-weight: 900;
    margin-top: 1.5rem;
}
.job {
    color: var(--gray-blue);
    margin-top: .2em;
}


.grid {
    /* border: 2px solid red; */
    transform: translateY(-16rem);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.grid-item {
    width: 100%;
    height: auto;
    display: block;
}
#grid-1 {
    grid-column: 1;
    grid-row: 1;
}
#grid-2 {
    grid-column: 2;
    grid-row: 1;
}
#grid-3 {
    grid-column: 1;
    grid-row: 2;
}
#grid-2 {
    grid-column: 2;
    grid-row: 2;
}





footer {
    color: hsl(168, 34%, 41%);
}
.hidden {
    position: absolute;
    top: -1000px;
}