/*
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Typography
### Body Copy
- Font size: 18px
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* font-family: 'Fraunces', serif; */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    --16px: 1rem;
    --18px: 1.125rem;
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --gray-blue: hsl(210, 4%, 67%);
    --dark-gray-blue: hsl(232, 10%, 55%);
    --darkest-gray-blue: hsl(213, 9%, 39%);
    --desat-blue: hsl(212, 27%, 19%);
}
body {
    border: 2px solid purple;
    /* width: 100vw;
    object-fit: cover; */
}


h1, h2, h3, h4, #contact {
    font-family: 'Fraunces', serif;
    /* font-weight: ; */
}
p, li {
    font-size: var(--18px);
    font-family: 'Barlow', sans-serif;
}

/* HEADER */
.header {
    border: 2px solid green;
    width: 100%;
    height: 32rem;
    min-height: 32rem;

    background-image: url("/src/images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* z-index: -1000; */
}
@media screen and (min-width: 95em) {
    .header {
        background: url("/src/images/desktop/image-header.jpg");
    }
}
/* .header-img {
    object-fit: contain;
} */
.header-first {
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    padding: 2rem 1rem 0;
}
.toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.menu { /*left corner missing*/
    list-style: none;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    height: 18rem;
    padding: .5rem 0 1rem;
    margin: 3rem auto 0;
    /* position: relative;
    top: 3rem; */
    z-index: 5;
}
.hide-menu { /* animation apparition + disparition menu */
    visibility: hidden;
}
.menu-link {
    text-decoration: none;
    color: var(--gray-blue);
    font-weight: 600;
}
#contact {
    color: var(--desat-blue);
    text-transform: uppercase;
    background-color: var(--yellow);
    padding: .8rem 1.2rem;
    border-radius: 30px;
}
h1 { /*fix opacity when menu opened*/
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 900;
    /* position: relative;
    top: -15rem; */
    transform: translateY(-15rem);
    margin: 0 auto;
    z-index: 0;
}
.arrow {
    /* position: relative;
    top: -12rem; */
    transform: translateY(-12rem);
    display: block;
    margin: 0 auto;
}











.graphic-design {
    color: hsl(167, 40%, 24%);
}

.photography {
    color: hsl(198, 62%, 26%);
}

footer {
    color: hsl(168, 34%, 41%);
}
.hidden {
    position: absolute;
    top: -1000px;
}